#This file defines the dependencies needed for this python project - install woth pip3 install -r requirements.txt
fastapi    #for building the API
uvicorn    #for running the fast API application
ollama     #for interfacing with ollama to use a local llm
requests   #for sending request
pydantic
